@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: sans-serif;
    color: #343a40;
    line-height: 1;
  }
}

@layer components {
  .item-grid {
    grid-template-columns: auto 1fr auto;
  }

  .content-box ul {
    color: #868e96;
    margin-left: 16px;
    margin-top: 16px;

    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
